@model Real_Estate_System.Models.ApplicationUser
    <div style="margin-bottom:20px;">

        <h3 style="margin:20px; margin-left:3px;">  @Html.DisplayFor(model => model.UserName) Details</h3>
        <div>
            <hr />
            <dl class="row">
                <!--UserId-->
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Id)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Id)
                </dd>
                <!--UserId-->
                <!--UserName-->
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.UserName)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.UserName)
                </dd>
                <!--UserName-->
                <!--User Email-->
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Email)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Email)
                </dd>
                <!--UserEmail-->
                <!--User PhoneNumber-->
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.PhoneNumber)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.PhoneNumber)
                </dd>

                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.PhoneNumber2)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.PhoneNumber2)
                </dd>
                <!--User PhoneNumber-->
            </dl>
            <form asp-action="Details">
                <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a>
                <a asp-action="Index" class="btn btn-info">Back to List</a>
            </form>
        </div>
